    /* css змінні */

:root {
    --logo-black: #000000;
    --logo-white: #FFFFFF;
    --header-border: #ECECEC;
    --blue-accent: #2196F3;
    --hover-text-accent: #FFFFFF;
    --main-color: #212121;
    --minor-color: #757575;
    --button-color: #F5F4FA;
    --portfolio-borders-color: #EEEEEE;
    --footer-contact-color:rgba(255, 255, 255, 0.6);
    --footer-bg: #2F303A;
}

/* Шапка сайту */

/* .header {} */

body {
    background-color: #FFFFFF;
    color: #212121;
}

.logo {
    text-decoration: none;
}

.logo-web {
    color: var(--blue-accent);
}

.logo-black {
    color: var(--logo-black);
}

.nav-list {
    list-style: none;
}

.nav {
    color: var(--main-color);
    text-decoration: none;
}

.nav:hover,
.nav:focus {
    color: var(--blue-accent);
}

.nav.current {
    color: var(--blue-accent);
}

.nav.contact {
    color: var(--minor-color);
}

/* .nav.contact:hover,
.nav.contact:focus {
    color: var(--blue-accent);
} */

    /* Головний контент */

/* h1 {
    color: transparent;
} */

    /* Фільтр */

.filter {
    list-style: none;
}

.filter .button {
    background-color: var(--button-color);
    color: var(--main-color);
    border: none;
    cursor: pointer;
}

.filter .button:hover,
.filter .button:focus {
    background-color: var(--blue-accent);
    color: var(--hover-text-accent);
}

    /* Портфоліо */

.portfolio {
    list-style: none;
}

.portfolio .type {
    color: var(--minor-color);
}

    /* Підвал */

.footer {
    background-color: var(--footer-bg);
}

.logo-white {
    color: var(--logo-white);
}

.contacts {
    list-style: none;
}

.contacts a {
    text-decoration: none;
}

.location {
    color: white;
}

.contacts .contact {
    color: var(--footer-contact-color);
}