    /* css змінні */

:root {
    /* --black-logo: #000000; */
    --header-border: #ECECEC;
    --blue-accent: #2196F3;
    --hover-text-accent: #FFFFFF;
    --main-color: #212121;
    --minor-color: #757575;
    --button-color: #F5F4FA;
    --portfolio-borders-color: #EEEEEE;
    --footer-contact-color:rgba(255, 255, 255, 0.6);
    --footer-bg: #2F303A;
}

body {
    background-color: #FFFFFF;
    color: #212121;
}

/* Шапка сайту */

/* .header {} */

.nav-list {
    list-style: none;
}

.nav {
    color: var(--main-color);
    text-decoration: none;
}

.nav:hover {
    color: var(--blue-accent);
}

.nav.current {
    color: var(--blue-accent);
}

.nav.contact {
    color: var(--minor-color);
}

.nav.contact:hover {
    color: var(--blue-accent);
}

    /* Головний контент */

h1 {
    color: transparent;
}

    /* Фільтр */

.filter {
    list-style: none;
}

.filter .button {
    background-color: var(--button-color);
    color: var(--main-color);
    border: none;
}

.filter .button:hover {
    background-color: var(--blue-accent);
    color: var(--hover-text-accent);
}

    /* Портфоліо */

